{% block content %}

    <li class="files__list__file row">
        <div class="col-12 mb-2 d-flex">
            <img class="files__list__file__user-pic align-self-start" src="/images/userpics/{{ file.user }}.png" width="23" alt="">
            <p class="files__list__file__user-name">{{ file.user }}</p>
            {% if myId == file.user %}
                <button class="files__list__file__delete-btn" id="{{ file.id }}"></button>
            {% endif %}
        </div>
        {% if file.previewPath %}
            <a class="col-12" href="/show/{{ file.user }}/{{ file.path }}">
                <img class="files__list__file__preview" src="/show/{{ file.user }}/{{ file.previewPath }}">
            </a>
        {% elseif file.ext == 'webm' or file.ext == 'mp4'%}
            <div class=" col-12 mb-3" >
                <video class="js-player col-12" poster="" playsinline controls>
                    <source src="/download/{{ file.user }}{{ file.path }}">
                </video>
            </div>
        {% endif %}
        <div class="files__list__file__info-block col-11 mx-auto">
            <div class="row">
                {% if file.ext == 'mp3' or file.ext == 'wav' or file.ext == 'flac' or file.ext == 'ogg' or
                    file.ext == 'aac' or file.ext == 'wma' or file.ext == 'alac'
                %}
                <span class="song">
                    <button class="song__play-pause-btn" data-song="/download/{{ file.user }}/{{ file.path }}">
                        <span class="play-pause-btn__icon--play"></span>
                    </button>
                </span>
                {% endif %}
                <span class="files__list__file__info-block__name">{{ file.name }}</span>
                <div class="files__list__file__info-block__info col-12 pl-1 pl-lg-0">
                    <div class="col-2 mr-0 pr-0">
                        <img class="files__list__file__info-block__ext-icon col-12 col-sm-10 col-lg-8"
                             src="/images/file-format-icons/{{ file.ext|lower }}.png" width="30" alt="">
                    </div>
                    <div class="col-8 px-1">
                        <span class="files__list__file__info-block__info-item">{{ file.size }}</span>
                        <span class="files__list__file__info-block__info-item">{{ file.date }}</span>

                        {% if file.resolution %}
                            <span class="files__list__file__info-block__info-item">Разрешение {{ file.resolution }}</span>
                        {% endif %}
                        {% if file.duration %}
                            <span class="files__list__file__info-block__info-item">Длительность {{ file.duration }}</span>
                        {% endif %}

                    </div>

                    <a href="/download/{{ file.user }}/{{ file.path }}" class="files__list__file__info-block__btn">
                        <img src="/images/download-icon.png" width="30" alt="download btn">
                    </a>
                </div>
            </div>
        </div>
    </li>

{% endblock %}